# Environnement virtuel
env/
venv/

# Fichiers de configuration
*.env
*.ini

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Fichiers de log
*.log

# Base de données locale
db.sqlite3

# Dossiers spécifiques à VSCode ou PyCharm
.vscode/
.idea/

# Fichiers statiques compilés
/staticfiles/
/media/

# Fichiers de migration générés par Django
*/migrations/__pycache__/
*/migrations/*.pyc
